
header{
    overflow:hidden;
    height: 50;
    background-color: #98c5e9;
    
    display:flex;
    justify-content:space-around; 
}

.left-side {
    display:flex;
    
}

.right-side {
    display:flex;
   
}


.nav-content a {
    
    background-color: transparent;
    color:#00285e;
    text-decoration:none;
    font-family: Gotham,sans-serif;
    font-weight: 600;
    font-size: large;
    margin-left:10px;
    /* text-align: center; */
    

}
nav {
    padding-top: 50px;
    padding-bottom: 30px

}

.crest img {

    height: 60px;
    padding-top: 32px;
    padding-bottom: 30px
        
    }

.wix-icon img {
    height: 20px;
    padding-top: 50px;
    padding-bottom: 30px
}
.login-icon img {
    height: 50px;
    padding-top: 38px;
    padding-bottom: 30px
}
.container-all-news {
    display:flex;
    justify-content: center;
}
.container-news {
    display:flex;
    align-items: center; 
    
}
.main-news-card {
    background-color: #00285e;
    overflow:hidden;
    margin: 50px auto;
    box-shadow: 4px 8px 8px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
    display:flex;
    flex-direction: row-reverse;
    width: 80%;
    
    
}
.main-news-img {
    display:flex;
    
}
.main-news-txt{
    padding-left: 15px;
}


.main-news-cat h3 {
    color: #98c5e9;
    font-weight: 600;
}

.main-news-para p {
    color: white;
    font-size: 34px;
    font-weight: 600;
}

/* .container-news-big2 {
    
} */
/* .container-news-one{
    
    size: 40%;
    
}
.container-news-two {
    size: 40%;
    
} */
/* .container-news-grid {
    display: flex;
    flex-direction: row;
    justify-items: center;
    
    
} */
.news-card-one, .news-card-two, .news-card-three, .news-card-four, .news-card-five, .news-card-six {
    background-color: #fdfdfd;
    overflow:hidden;
    margin: 50px auto;
    transition: 0.3s;
    display:flex;
    flex-direction: row;
    width: 80%;
    
  
}


.news-txt-one, .news-txt-two, .news-txt-three, .news-txt-four, .news-txt-five, .news-txt-six {
    padding-left: 15px;
}


.news-cat-one, .news-cat-two,.news-cat-three, .news-cat-four,.news-cat-five, .news-cat-six h3{
    color: #696b6d;
    font-weight: 600;
}

.news-para-one, .news-para-two, .news-para-three, .news-para-four, .news-para-five, .news-para-six {
    color: #2f3133;
    font-size: 34px;
    font-weight: 600;
}
.news-img-one, .news-img-two, .news-img-three, .news-img-four, .news-img-five, .news-img-six {
    max-width: 100%;
    height: auto;
}



footer {
    background-color: #98c5e9;
    flex-direction: row;
}


.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
    
}
.footer-right {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    align-items: flex-end;
}


footer a, footer h6 {
    color: #00285e;
    text-decoration:none;
}

footer h6 {
    color: #00285e;
    text-decoration:none;
}

/* img {
    max-width: 100%;
    height: auto;
  } */

* {
    font-family: Gotham,sans-serif;
 
}
